#ability {
  background-color: var(--black-mid);
}

.abilityContainer {
  display: grid;
  grid-template-columns: 128px 128px 128px 128px 128px;
  justify-content: center;
  padding: 80px 80px;
  gap: 48px;
}

.abilityCard img {
  width: 6.5rem;
  height: 6.5rem;
}

.abilityCard {
  width: 8.5rem;
  height: 8.5rem;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: ease 0.3s;
  transform-style: preserve-3d;
  background-color: var(--white);
}

.flip {
  transform: rotateY(180deg);
}

.frontCard {
  transform: rotateY(180deg);
}

.faceContent {
  width: 6.5rem;
  height: 6.5rem;
  position: absolute;
  color: var(--white);
}

.backCard {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  backface-visibility: hidden;
  background-color: var(--white);
}

.list li {
  font-size: 0.8rem;
  font-weight: bold;
  list-style-type: none;
  text-align: center;
  padding-top: 5px;
  color: var(--black);
}

.list h3 {
  font-size: 1rem;
  text-align: center;
  font-weight: bold;
  color: var(--black);
}

@media (max-width: 935px) {
  .abilityContainer {
    gap: 24px;
  }
}

@media (max-width: 800px) {
  .abilityContainer {
    gap: 32px;
    display: grid;
    grid-template-columns: 128px 128px;
  }
}

@media (max-width: 400px) {
  .abilityContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
