#aboutMe {
  background-color: var(--black-initial);
}

.title a {
  font-weight: bold;
  color: var(--white);
  text-decoration: none;
}

.aboutMeAlignContainer {
  padding-top: 48px;
  display: flex;
  justify-content: center;
}

.containerAboutMe {
  display: flex;
  align-items: center;
  padding: 48px 48px;
  width: 960px;
  border: 1px solid var(--black-end);
  gap: 32px;
  background-color: var(--black-mid);
}

.aboutMeImage img {
  border-radius: 10px;
  width: 400px;
  height: 380px;
}

.aboutMeAlignText {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.titleAboutMe h1 {
  font-size: 1.1rem;
  color: var(--blue);
}

.titleAboutMe h2 {
  font-size: 1.5rem;
  color: var(--white);
}

.descriptionAboutMe h3 {
  font-size: 1.1rem;
  color: var(--white-low);
}

.aboutMeText p {
  font-size: 1rem;
  color: #a0a0a0;
}

.aboutMeText strong {
  color: var(--white-low);
}

.curriculum {
  display: flex;
  justify-content: center;
  padding: 48px 48px;
}

.curriculum button {
  width: 145px;
  height: 50px;
  color: var(--white);
  border-color: var(--white);
  background-color: transparent;
  cursor: pointer;
  font-size: 0.8rem;
  font-weight: bold;
  border-radius: 10px;
}

.curriculum button:hover {
  transition-duration: 1s;
  transition-property: all;
  background-color: var(--white);
  color: var(--black);
}

@media (max-width: 1170px) {
  .aboutMeImage {
    display: none;
  }

  .aboutMeText p {
    font-size: 1.5rem;
  }
  .titleAboutMe h1 {
    font-size: 1.5rem;
  }

  .titleAboutMe h2 {
    font-size: 1.8rem;
  }

  .descriptionAboutMe h3 {
    font-size: 1.5rem;
  }
}

@media (max-width: 500px) {
  .aboutMeText p {
    font-size: 1rem;
  }
}
