@import url("./ability.css");
@import url("./aboutMe.css");
@import url("./contact.css");
@import url("./home.css");
@import url("./navbar.css");
@import url("./projects.css");
@import url("./skills.css");

:root {
  --azul: rgb(0, 255, 255);
  --branco: rgb(255, 255, 255);
  --amarelo: rgb(255, 174, 29);
  --cinza: rgb(60, 60, 60);
  --preto: rgb(0, 0, 0);
}

* {
  margin: 0;
  padding: 0;
}

.backgroundImage {
  background-image: url(../img/workspace.webp);
  height: 40rem;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

html {
  scroll-behavior: smooth;
}

h1,
p,
h2 {
  font-family: "Josefin Sans", sans-serif;
}

.title h1 {
  font-size: 3rem;
  text-align: center;
  color: var(--azul);
  padding-top: 64px;
}

.title p {
  font-size: 1.5rem;
  text-align: center;
  padding-top: 32px;
  color: var(--branco);
}

.buttonTop {
  background-color: var(--azul);
  position: fixed;
  right: 2px;
  bottom: 2px;
  width: 15px;
  height: 20px;
  display: flex;
  text-decoration: none;
  color: var(--branco);
  padding: 13px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s;
  box-shadow: 4px 4px 12px var(--cinza);
}

.buttonTop.ativado {
  bottom: 2px;
  pointer-events: auto;
  opacity: 1;
}
