#contato {
  background-color: rgb(6, 6, 6);
}

.align {
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  margin: auto;
  text-align: center;
  padding: 4rem;
}

.info {
  width: 9.5rem;
}

.img-info img {
  height: 2.5rem;
  width: 3rem;
  cursor: pointer;
}

.acc h2 {
  padding-top: 1.5rem;
  font-size: 1rem;
  color: rgb(0, 255, 255);
}

.acc p {
  padding-top: 0.5rem;
  font-size: 1rem;
  color: rgb(255, 255, 255);
}

.info img:hover {
  transform: scale(1.2);
  transition-duration: 0.5s;
  transition-property: all;
}



@media (max-width: 650px) {
  .align {
    flex-direction: column;
    padding: 1.5rem;
  }

  .info {
    width: initial;
    padding: 1.5rem;
  }
}
