#contato {
  background-color: rgb(16, 16, 16);
}

.align {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.info {
  margin-top: 70px;
  padding-bottom: 50px;
}

.img-info img {
  width: 15%;
  cursor: pointer;
}

.acc h2 {
  letter-spacing: 1px;
  padding-top: 30px;
  font-size: 0.9rem;
  font-family: "Josefin Sans", sans-serif;
  color: rgb(0, 255, 255);
}

.acc p {
  font-family: "Josefin Sans", sans-serif;
  padding-top: 15px;
  color: rgb(110, 110, 110);
}

@media (max-width: 900px) {
  .align {
    grid-template-columns: 220px 220px 220px;
  }

  .acc h2 {
    font-size: 0.7rem;
  }

  .acc p {
    font-size: 0.9rem;
  }
}

@media (max-width: 810px) {
  .align {
    grid-template-columns: 220px;
  }


.info {
  margin-top: 40px;
  padding-bottom: 10px;
margin-bottom: 10px;
}
}
