#contact {
  background-color: var(--black-mid);
}

.contactAlign {
  display: flex;
  justify-content: center;
  gap: 32px;
  padding: 80px 80px;
}

.contactContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 192px;
}

.contactImage {
  cursor: pointer;
  background-size: cover;
}

.emailIcon,
.mapIcon,
.whatsappIcon {
  width: 3rem;
  height: 3rem;
}

.whatsappIcon {
  background-image: url(../img/svg/wpp.svg);
}

.emailIcon {
  background-image: url(../img/svg/email.svg);
}

.mapIcon {
  background-image: url(../img/svg/zoom1.svg);
}

.whatsappIcon:hover {
  background-image: url(../img/svg/wppazul.svg);
}

.emailIcon:hover {
  background-image: url(../img/svg/email1.svg);
}

.mapIcon:hover {
  background-image: url(../img/svg/zoomBlue1.svg);
}

.contactInfo h2 {
  padding-top: 24px;
  font-size: 1rem;
  color: var(--blue);
}

.contactInfo p {
  padding-top: 8px;
  font-size: 1rem;
  color: var(--white);
}

@media (max-width: 700px) {
  .contactAlign {
    flex-direction: column;
    padding: 24px;
    align-items: center;
  }

  .info {
    width: initial;
    padding: 24px;
  }
}
