#footer {
  background-color: var(--black-initial);
  padding: 16px;
}

.topFooter {
  display: flex;
  justify-content: center;
  gap: 32px;
  margin-left: 100px;
}

.imageLogoFooter img {
  padding-top: 8px;
  width: 96px;
  height: 4.5rem;
}

.topFooter h2 {
  padding-top: 8px;
  font-size: 1.1rem;
  color: var(--blue);
}

.verticalLine {
  border-right: 1px solid var(--gray-line);
}

.iconFooter {
  display: flex;
  justify-content: center;
  margin-top: 3px;
  gap: 8px;
  background-size: cover;
  cursor: pointer;
}

.iconFooter > div {
  width: 1.5rem;
  height: 1.5rem;
}

.githubIcon {
  background-image: url(../img/svg/githubFooterIcon.svg);
}

.linkedinIcon {
  background-image: url(../img/svg/linkedinFooterIcon.svg);
}

.skypeIcon {
  background-image: url(../img/svg/skypeFooterIcon.svg);
}

.behanceIcon {
  background-image: url(../img/svg/behanceFooterIcon.svg);
}

.githubIcon:hover {
  background-image: url(../img/svg/githubFooterIconBlue.svg);
}

.linkedinIcon:hover {
  background-image: url(../img/svg/linkedinFooterIconBlue.svg);
}

.skypeIcon:hover {
  background-image: url(../img/svg/skypeFooterIconBlue.svg);
}

.behanceIcon:hover {
  background-image: url(../img/svg/behanceFooterIconBlue.svg);
}

.bottomFooter {
  display: flex;
  justify-content: center;
  margin-left: 95px;
  padding-top: 8px;
}

.bottomFooter p {
  font-size: 1rem;
  color: var(--white);
}

@media (max-width: 700px) {
  .topFooter {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 0;
    gap: 16px;
  }

  .verticalLine {
    display: none;
  }

  .bottomFooter p {
    font-size: 0.7rem;
  }

  .bottomFooter {
    margin: 0;
  }
}
