.rodape {
  background-color: rgb(0, 0, 0);
}

.top {
  display: grid;
  grid-template-columns: 220px 10px 220px;
  padding-top: 12px;
  text-align: center;
  justify-content: center;
}

.image {
  padding-top: 8px;
  margin-left: 110px;
}

#linha-vertical {
  height: 80px;
  border-right: 1px solid rgb(145, 145, 145);
}

.top h2 {
  padding-top: 16px;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.1rem;
  color: rgb(0, 255, 255);
}

.footer-icon img {
  width: 20px;
}

.footer-icon {
  padding-top: 4px;
  display: inline-grid;
  grid-template-columns: 35px 35px 35px 35px;
}

.bottom {
  padding-top: 8px;
  text-align: center;
  padding-bottom: 8px;
}

.bottom p {
  font-size: 0.7rem;
  color: rgb(255, 255, 255);
  font-family: "Josefin Sans", sans-serif;
}

@media (max-width: 600px) {
  .top {
    grid-template-columns: 10px;
  }

  .top h2 {
    padding-top: 8px;
  }

  .image {
    margin: auto;
  }

  #linha-vertical {
    display: none;
  }

  .footer-icon {
    justify-content: center;
    margin-left: 22px;
  }
}
