.rodape {
  background-color: rgb(0, 0, 0);
}

.top {
  display: grid;
  grid-template-columns: 14rem 0.7rem 14rem;
  padding-top: 0.7rem;
  text-align: center;
  justify-content: center;
}

.top h2 {
  padding-top: 1rem;
  font-size: 1.1rem;
  color: rgb(0, 255, 255);
}

.image {
  padding-top: 0.5rem;
  margin-left: 7rem;
}

.image img {
  height: 4.5rem;
  width: 6rem;
}

#linha-vertical {
  height: 5rem;
  border-right: 1px solid rgb(145, 145, 145);
}

.footer-icon {
  padding-top: 0.2rem;
  display: inline-grid;
  grid-template-columns: 2rem 2rem 2rem 2rem;
}

.footer-icon img {
  width: 1.25rem;
  height: 1.25rem;
}

.bottom {
  padding-top: 0.5rem;
  text-align: center;
  padding-bottom: 0.5rem;
}

.bottom p {
  font-size: 0.7rem;
  color: rgb(255, 255, 255);
}

@media (max-width: 650px) {
  .top {
    grid-template-columns: 15rem;
  }

  .top h2 {
    padding-top: 0.4rem;
  }

  .image {
    margin: auto;
  }

  #linha-vertical {
    display: none;
  }
}
