#habilidades {
  background-color: rgb(16, 16, 16);
}

.text-skills h2 {
  font-size: 3rem;
  text-align: center;
  color: rgb(255, 255, 255);
  padding-top: 60px;
  font-family: "Josefin Sans", sans-serif;
  letter-spacing: 0.1rem;
}

.text-skills p {
  font-size: 1.5rem;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 50px;
  color: rgb(255, 255, 255);
}

.container-skills {
  display: grid;
grid-template-columns:  130px 130px 130px 130px 130px ;  
  justify-content: center;
  flex-wrap: wrap;
  gap: 3.5rem;
}

.skillbox img {
  width: 100px;
}

.skillbox {
  width: 130px;
  height: 130px;
  background-color: rgb(196, 196, 196);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: ease 0.3s;
  transform-style: preserve-3d;
}

.face {
  width: 100px;
  height: 100px;
  display: flex;
  color: rgb(255, 255, 255);
  position: absolute;
  justify-content: center;
  align-items: center;
}

.front {
  transform: rotateY(180deg);
}

.back {
  background-color: rgb(196, 196, 196);
  backface-visibility: hidden;
}

.flip {
  transform: rotateY(180deg);
}

@media(max-width:900px){

.container-skills{
gap: 2rem;
}

}

@media(max-width:835px){

.container-skills{
gap: 1.5rem;
}

}

@media(max-width:777px){

.container-skills{
gap: 2rem;
  display: grid;
grid-template-columns:  150px 150px 150px ;  

}

.container-skills:nth-child(7){

width: 1px;
}
}