#habilidades {
  background-color: rgb(16, 16, 16);
}



.container-skills {
  padding-top: 70px;
  display: grid;
  grid-template-columns: 130px 130px 130px 130px 130px;
  justify-content: center;
  gap: 3.5rem;
padding-bottom: 70px;
}

.skillbox img {
  width: 100px;
}

.skillbox {
  width: 130px;
  height: 130px;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: ease 0.3s;
  transform-style: preserve-3d;
}

.flip {
  transform: rotateY(180deg);
}

.face {
  width: 100px;
  height: 100px;
  display: flex;
  color: rgb(255, 255, 255);
  position: absolute;
}

.front {
  transform: rotateY(180deg);
}

.back {
  background-color: rgb(255, 255, 255);
  backface-visibility: hidden;
}

.back p {
  font-size: 0.7rem;
  color: rgb(0, 0, 0);
  font-family: "Josefin Sans", sans-serif;
}

.list {
  margin: auto;
}

.list li {
  font-size: 0.8rem;
  color: rgb(0, 0, 0);
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
  padding-top: 7px;
  list-style-type: none;
  font-weight: bold;
}



@media (max-width: 950px) {
  .container-skills {
    gap: 1.5rem;
  }
}

@media (max-width: 850px) {
  .container-skills {
    gap: 1rem;
  }
}

@media (max-width: 810px) {
  .container-skills {
    gap: 2rem;
    display: grid;
    grid-template-columns: 130px 130px;
  }
}

@media (max-width: 400px) {
  .container-skills {
    grid-template-columns: 130px;
  }
}
