#habilidades {
  background-color: rgb(16, 16, 16);
}

.titulohabilidades h2 {
  font-size: 3rem;
  text-align: center;
  color: rgb(255, 255, 255);
  padding-top: 4rem;
  font-family: "Josefin Sans", sans-serif;
  letter-spacing: 0.1rem;
}

.container-skills {
padding-top: 3rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 4rem;
}

.skillbox img{
width: 100px;
}

.skillbox {
 width: 130px;
  height: 130px;
  background-color: rgb(196, 196, 196);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  transition: ease 0.3s;
}

.skillbox:hover {
  background-color: rgb(255, 255, 255);
  transform: scale(1.05);
}










