#home {
  display: flex;
  justify-content: center;
  height: 100vh;

}

.homeCentralizer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 32px;

}

.homeDescription {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.homeTitle {
  color: var(--white);
}

.homeTitle h1 {
  font-size: 5rem;
}

.homeTitle h2 {
  font-size: 2rem;
  color: var(--blue);
}

.homeTitle h3 {
  font-size: 1rem;
  padding-top: 3px;
}

.homeIcons {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 32px;
}

.homeIcons a {
  margin: 10px;
}

.homeIcons img {
  width: 40px;
}

.arrowDown {
  padding-left: 10px;
  width: 10px;
}

.homeButton button {
  width: 145px;
  height: 50px;
  color: var(--white);
  border-color: var(--blue);
  background-color: transparent;
  cursor: pointer;
  font-size: 0.8rem;
  font-weight: bold;
  border-radius: 10px;
}

.homeButton button:hover {
  transition-duration: 1s;
  transition-property: all;
  background-color: var(--blue);
}

@media (max-width: 470px) {
  .homeTitle h1 {
    font-size: 3.5rem;
  }

  .homeTitle h2 {
    font-size: 1.5rem;
  }

  .homeDescription {
    flex-direction: column;
    gap: 0;
  }
}
