.textos {
  float: right;
  padding: 7rem;
  font-family: "Josefin Sans", sans-serif;
}

.textos h1 {
  font-size: 3rem;
  color: rgb(255, 255, 255);
  text-shadow: 0.1em 0.1em 0.1em rgb(0, 0, 0);
}

.textos h2 {
  font-size: 1.5rem;
  padding-top: 2.5rem;
  color: rgb(0, 0, 0);
}

.typewriter::after {
  content: "|";
 font-size: 30px;
  margin-left: 4px;
  opacity: 1px;
  animation: pisca 0.7s infinite;
}

@keyframes pisca {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

@media (max-width: 690px) {
  .textos {
    float: initial;
    padding: initial;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .textos h1 {
    padding-top: 5rem;
  }

  #inicio {
    height: 35rem;
  }
}

@media (max-width: 430px) {
  .textos h1 {
    font-size: 2.5rem;
    padding-top: 3rem;
  }

  .textos h2 {
    font-size: 1.3rem;
  }

  #inicio {
    height: 29rem;
  }
}

@media (max-width: 360px) {
  .textos h1 {
    font-size: 2rem;
  }

  .textos h2 {
    font-size: 1rem;
    padding-top: 2rem;
  }

  #inicio {
    height: 24rem;
  }
}
