#pjtmn{
margin-top: 5%;
background-color: #101010;
display: flex;
align-items: center;
flex-direction: column;
justify-content: center;
}

.paginapj h1{
font-size: 3rem;
text-align: center;
color: rgb(255, 255, 255);
padding-top: 4rem;
font-family: 'Josefin Sans', sans-serif;
letter-spacing: 0.1rem;
}

.alinharimg {
display: flex;
justify-content: center;
padding-top: 3rem;
gap: 6rem;
width: 100%;
}

.pro {
background-color: rgb(255, 255, 255);
height: 19rem;
width: 50%;
box-shadow: 5px 5px rgb(145, 145, 145);
}

.pro img{
width: 90%;
height: 10rem;
display: flex;
margin: auto;
padding-top: 1rem;
}

.textoimg {
text-align: center;
padding-top: 1.5rem;
}

.textoimg h2{
font-size: 1.5rem;
font-family: 'Josefin Sans', sans-serif;
font-weight: bold;
}

.botaopj button {
font-family: 'Josefin Sans', sans-serif;
font-size: 1rem;
width: 7rem;
height: 2rem; 
transition: 2s;  
cursor: pointer;
background-color: rgb(145, 145, 145);
border: none;
font-weight: bold;
}

.botaopj{
padding-top: 1.5rem;
padding-bottom: 5rem;
display: flex;
flex-wrap: wrap;
flex-direction: column;
align-items: center;
}

.botaopj button:hover{
background: transparent;
border: 0.1rem solid rgb(0, 0, 0);
cursor: pointer;
}

.githublink{
padding-top: 3rem;
padding-bottom: 3rem;
display: flex;
display: flex;
flex-wrap: wrap;
flex-direction: column;
align-items: center;
text-align: center;
}

.githublink a {
font-family: 'Josefin Sans', sans-serif;
color: rgb(255, 255, 255);
font-size: 1.5rem;
text-decoration: none;
}

.githublink a:hover{
color: rgb(145, 145, 145);
}



@media (max-width: 1100px){

.paginapj h1 {
font-size: 2.5rem;
}

}

@media (max-width: 1000px){



.paginapj h1{
font-size: 2rem;
padding-top: 2.5rem;
}

.alinharimg {
padding-top: 2rem;
gap: 4rem;
}

.pro {
height: 19rem;
width: 25%;
}

.pro img{
width: 90%;
height: 9rem;
padding-top: 1rem;
}




}

@media(max-width: 900px){

.paginapj h1{
font-size: 1.5rem;
padding-top: 2.5rem;
}

}

@media(max-width: 620px){


.paginapj h1{
font-size: 2rem;
}

.alinharimg {
padding-top: 2rem;
display: block;
}

.pro {
width: 100%;
height: 18rem;
margin-bottom: 2rem;
}

.pro img{
width: 90%;
height: 9rem;
padding-top: 1rem;
}




}