#projetos {
  background-color: rgb(16, 16, 16);
  display: flex;
  align-items: center;
  justify-content: center;
}

.alinhar-card {
  display: flex;
  padding-top: 64px;
  gap: 64px;
  width: 100%;
}

.hidden {
  display: none;
  padding-top: 64px;
  gap: 64px;
  width: 100%;
}

.card-projeto {
  background-color: rgb(255, 255, 255);
  height: 304px;
  width: 50%;
  box-shadow: 8px 8px rgb(145, 145, 145);
}

.card-projeto img {
  width: 90%;
  height: 160px;
  display: flex;
  margin: auto;
  padding-top: 16px;
}

.textoimg {
  text-align: center;
  padding-top: 24px;
}

.textoimg h2 {
  font-size: 1.5rem;
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;
}

.botao-projeto button {
  color: rgb(250, 250, 250);
  font-family: "Josefin Sans", sans-serif;
  font-size: 1rem;
  width: 112px;
  height: 36px;
  transition: 2s;
  cursor: pointer;
  background-color: rgb(0, 0, 0);
  border: none;
  font-weight: bold;
}

.botao-projeto {
  padding-top: 24px;
  text-align: center;
}

.botao-projeto button:hover {
  background: rgb(145, 145, 145);
  border: 1px solid rgb(0, 0, 0);
  cursor: pointer;
}

.see-more img {
  width: 48px;
}

.see-more button {
  border: none;
  background-color: rgb(16, 16, 16);
  cursor: pointer;
}

.see-more {
  padding-top: 56px;
  text-align: center;
}

.githublink {
  padding-top: 36px;
  padding-bottom: 48px;
  text-align: center;
}

.githublink a {
  font-family: "Josefin Sans", sans-serif;
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
  text-decoration: none;
}

.githublink a:hover {
  color: rgb(0, 255, 255);
}

@media (max-width: 1000px) {
  .alinhar-card {
    gap: 2rem;
  }

  .hidden {
    gap: 2rem;
  }

  .textoimg h2 {
    font-size: 1.3rem;
  }

  .card-projeto {
    margin: auto;
    height: 304px;
    width: 30%;
  }
}

@media (max-width: 915px) {
  .alinhar-card {
    gap: 0.1rem;
  }

  .hidden {
    gap: 0.1rem;
  }
}

@media (max-width: 810px) {
  .alinhar-card {
    margin: auto;
    width: 400px;
    flex-wrap: wrap;
  }

  .hidden {
    padding-top: 0;
    margin: auto;
    flex-wrap: wrap;
  }

  .card-projeto {
    margin: auto;
    width: 70%;
    margin-top: 50px;
  }
}

@media (max-width: 600px) {
  .alinhar-card {
    margin: auto;
    width: 400px;
    flex-wrap: wrap;
  }

  .hidden {
    padding-top: 0;
    margin: auto;
    flex-wrap: wrap;
  }
}

@media(max-width: 400px){
 .alinhar-card {
    width: 100%;
  }

}