#projetos {
  background-color: rgb(6, 6, 6);
}

#hiddens {
  height: 0;
  overflow: hidden;
  transition: 1s;
}

#projetos.ativo #hiddens {
  height: 22rem;
  visibility: visible;
  transition: 1s;
}

.alinhar-card {
  justify-content: center;
  display: flex;
  padding-top: 3rem;
  gap: 3rem;
}

.card-projeto {
  background-color: rgb(255, 255, 255);
  height: 20rem;
  width: 17rem;
  box-shadow: 0.5rem 0.5rem rgb(145, 145, 145);
}

.producao {
  background-color: rgb(0, 0, 0);
  width: 90%;
  height: 10rem;
  display: flex;
  margin: auto;
  margin-top: 1rem;
}

.faixa {
  margin: auto;
}

.faixa h3 {
  font-family: "Josefin Sans", sans-serif;
  color: rgb(255, 255, 255);
}

.card-projeto img {
  width: 90%;
  height: 10rem;
  display: flex;
  margin: auto;
  padding-top: 1rem;
}

.textoimg {
  text-align: center;
  padding-top: 1.5rem;
}

.textoimg h2 {
  font-size: 1.5rem;
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;
}

.botao-projeto button {
  color: rgb(250, 250, 250);
  font-family: "Josefin Sans", sans-serif;
  font-size: 1rem;
  width: 7rem;
  height: 2.2rem;
  background-color: rgb(0, 0, 0);
  border: none;
  font-weight: bold;
}

.botao-projeto {
  padding-top: 1.5rem;
  display: flex;
  justify-content: center;
}

.botao-projeto button:hover {
  background: rgb(145, 145, 145);
  border: 1px solid rgb(0, 0, 0);
  cursor: pointer;
  transition: 2s;
}

.botao-vermais img {
  width: 2.5rem;
  height: 2.5rem;
}

.botao-vermais button {
  background-color: rgb(6, 06, 06);
  cursor: pointer;
  outline: none;
  border: none;
}

.botao-vermais {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.githublink {
  padding: 2.5rem 2.5rem;
  text-align: center;
}

.githublink a {
  font-family: "Josefin Sans", sans-serif;
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
  text-decoration: none;
}

.githublink a:hover {
  color: rgb(0, 255, 255);
  transition-duration: 0.5s;
  transition-property: all;
}

@media (max-width: 1000px) {
  .alinhar-card {
    gap: 2rem;
  }

  .textoimg h2 {
    font-size: 1.2rem;
  }

  #projetos.ativo #hiddens {
    padding-top: 2rem;
  }
  .card-projeto {
    height: 20rem;
    width: 25%;
  }
}

@media (max-width: 900px) {
  #projetos.ativo #hiddens {
    height: 1100px;
  }

  .alinhar-card {
    display: grid;
    grid-template-columns: auto;
  }

  .card-projeto {
    height: 20rem;
    width: 17rem;
  }
}
