* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

.tittles h1 {
  font-size: 3rem;
  text-align: center;
  color: rgb(0, 255, 255);
  padding-top: 64px;
  font-family: "Josefin Sans", sans-serif;
}

.tittles p {
  font-size: 1.5rem;
  text-align: center;
  padding-top: 32px;
  color: rgb(255, 255, 255);
  font-family: "Josefin Sans", sans-serif;
}

.link-top {
  text-decoration: none;
  color: rgb(255, 255, 255);
  right: 2px;
  bottom: 2px;
  padding: 12px;
  position: fixed;
  background-color: rgb(0, 255, 255);
  box-shadow: 4px 4px 12px rgb(60, 60, 60);
}
