.skills {
  background-color: rgb(3, 3, 3);
}

.section-skills {
  display: grid;
  grid-template-columns: 6.5rem 0.5rem 6.5rem 0.5rem 6.5rem 0.5rem 6.5rem 0.5rem 6.5rem 0.5rem 6.5rem;
  text-align: center;
  justify-content: center;
  gap: 1.25rem;
  padding: 1.5rem 1.5rem;
}

.img-card img {
  width: 2.5rem;
  height: 2.5rem;
}

.valores p {
  letter-spacing: 1px;
  padding-top: 0.5rem;
  font-size: 0.8rem;
  color: rgb(0, 255, 255);
}

.valores h2 {
  font-size: 1.5rem;
  padding-top: 0.5rem;
  color: rgb(255, 255, 255);
}

.linha {
  width: 1px;
  height: 7.5rem;
  border-right: 1px solid rgb(145, 145, 145);
}

@media (max-width: 950px) {
  .section-skills {
    grid-template-columns: 6.5rem 0.5rem 6.5rem 0.5rem 6.5rem 0.5rem;
    margin-left: 1.9rem;
  }

  .linha:nth-child(6) {
    border-right: 1px solid rgb(0, 0, 0);
  }
}

@media (max-width: 600px) {
  .section-skills {
    grid-template-columns: 6.5rem 0.5rem 6.5rem 0.5rem;
    margin-left: 2.5rem;
  }
  .linha:nth-child(6) {
    border-right: 1px solid rgb(145, 145, 145);
  }

  .linha:nth-child(4) {
    border-right: 1px solid rgb(0, 0, 0);
  }

  .linha:nth-child(8) {
    border-right: 1px solid rgb(0, 0, 0);
  }
}

@media (max-width: 400px) {
  .section-skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: initial;
  }

  .linha {
    display: none;
  }
}
