#skills {
  display: flex;
  text-align: center;
  justify-content: center;
  gap: 16px;
  padding: 48px 48px;
  background-color: var(--black-initial);
}

.skillContainer {
  width: 110px;
  gap: 32px;
}

.skillCardImage img {
  width: 2.5rem;
  height: 2.5rem;
}

.skillValue h2 {
  font-size: 1.5rem;
  padding-top: 8px;
  color: var(--white);
}

.skillValue p {
  letter-spacing: 1px;
  padding-top: 8px;
  font-size: 0.8rem;
  color: var(--blue);
}

.line {
  width: 1px;
  height: 7.5rem;
  border-right: 1px solid var(--gray-line);
}

@media (max-width: 850px) {
  #skills {
    display: grid;
    grid-template-columns: 128px 8px 128px 8px 128px;
  }

  .line:nth-child(6) {
    display: none;
  }
}

@media (max-width: 600px) {
  #skills {
    grid-template-columns: 128px 8px 128px;
  }
  .line:nth-child(6) {
    display: block;
  }

  .line:nth-child(4) {
    display: none;
  }

  .line:nth-child(8) {
    display: none;
  }
}

@media (max-width: 400px) {
  #skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
  }

  .line,
  .line:nth-child(6),
  .line:nth-child(4),
  .line:nth-child(8) {
    display: none;
  }
}
