.alinhar {
  width: 90%;
  display: flex;
  margin: auto;
  gap: 70px;
}

.conteudo {
  max-width: 80rem;
  display: flex;
  margin: auto;
}

.bloco-img img {
  display: flex;
  justify-content: center;
  width: 450px;
  height: 310px;
  box-shadow: -12px 12px rgb(16, 16, 16), 12px -12px rgb(145, 145, 145);
}

blockquote {
  color: black;
  font-family: "Josefin Sans", sans-serif;
  padding-top: 1.4rem;
  font-size: 1.3rem;
}

.bloco-img {
  padding-top: 64px;
}

.paragrafo {
  padding-top: 55px;
}

.paragrafo p {
  font-size: 1.3rem;
  text-indent: 2em;
}

.titulo {
  text-align: center;
  padding-top: 64px;
}
.titulo h1 {
  font-size: 3rem;
}

.botao-sobremim button {
  color: rgb(255, 255, 255);
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.2rem;
  width: 8.5rem;
  height: 2.5rem;
  transition: 2s;
  cursor: pointer;
  background-color: rgb(0, 0, 0);
  border: none;
  font-weight: bold;
}

.botao-sobremim {
  padding-top: 4rem;
  padding-bottom: 3.5rem;
  text-align: center;
}

.botao-sobremim button:hover {
  background: rgb(145, 145, 145);
  border: 0.1rem solid rgb(0, 0, 0);
}

@media (max-width: 1120px) {
  .alinhar {
    display: grid;
    justify-content: space-between;
    margin: auto;
  }

  .bloco-img img {
    width: 80%;
    height: initial;
    margin: auto;
  }
  .paragrafo {
    text-align: center;
    margin: auto;
    padding-top: 1rem;
  }

  .paragrafo p {
    font-size: 1.7rem;
    text-indent: 0;
  }
}

@media (max-width: 720px) {
  .paragrafo p {
    width: 90%;
    display: flex;
    margin: auto;
  }
}
