#sobre-mim {
  padding-top: 5rem;
}

.conteudo {
  display: flex;
  justify-content: center;
}

.bloco-img img {
  width: 90%;
  box-shadow: -12px 12px rgb(16, 16, 16), 12px -12px rgb(145, 145, 145);
}

.titulo h1 {
  font-size: 3rem;
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
}

.paragrafo {
  padding-top: 1.5rem;
}

.paragrafo p {
  font-size: 1.4rem;
  text-indent: 2em;
  font-family: "Josefin Sans", sans-serif;
  max-width: 37.5rem;
}

.botao-sobremim button {
  color: rgb(255, 255, 255);
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.3rem;
  width: 8.5rem;
  height: 2.5rem;
  transition: 2s;
  cursor: pointer;
  background-color: rgb(0, 0, 0);
  border: none;
  font-weight: bold;
}

.botao-sobremim {
  padding-top: 4rem;
  padding-bottom: 3.5rem;
  text-align: center;
}

.botao-sobremim button:hover {
  background: rgb(145, 145, 145);
  border: 0.1rem solid rgb(0, 0, 0);
}

@media (max-width: 1157px) {
  .conteudo {
    display: grid;
  }

  .bloco-img {
    display: flex;
    justify-content: center;
  }

  .bloco-tittle h1 {
    font-size: 4rem;
  }

  .paragrafo {
    text-align: center;
    margin: auto;
    padding-top: 3rem;
  }

  .paragrafo p {
    font-size: 1.7rem;
    text-indent: 0;
    max-width: 43rem;
  }

  .bloco-tittle {
    margin-top: 64px;
  }
}

@media (max-width: 750px) {
  .bloco-tittle h1 {
    font-size: 3.5rem;
  }

  .paragrafo p {
    font-size: 1.3rem;
    max-width: 31rem;
  }
}

@media (max-width: 510px) {
  .bloco-tittle h1 {
    font-size: 2.5rem;
  }

  .paragrafo {
    padding-top: 2rem;
  }

  .paragrafo p {
    font-size: 1.3rem;
    text-indent: 0;
    width: 18.75rem;
  }
  .paragrafo {
    display: flex;
    justify-content: center;
  }

  .bloco-img img {
    width: 70%;
  }
}

@media (max-width: 425px) {
  .bloco-img img {
    width: 17.5rem;
    height: 11rem;
  }
}
